.editor--toolbar {
    .toolbar--navigation {
        margin: 2px 8px 2px 0;

        > * {
            margin: 0 !important;
        }

        > .number {
            border-radius: 15px;
            cursor: default;
            height: 28px;
            line-height: 28px;
            padding: 0 15px;

            &:hover {
                color: #fff;
            }
        }
    }

    .toolbar--separator {
        width: 16px;

        &:before {
            content: '';
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            width: 1px;
            height: 97px;
            background-color: #dae0e6;
            margin: -35px 15px -30px;
            border: none;
        }
    }

    .grid--button {
        display: flex;
        align-items: center;

        input[disabled] {
            opacity: 0.4;
            cursor: no-drop;
        }
    }

    .opacity--button {
        display: flex;
        align-items: center;

        label {
            color: #000;
            width: 50px;
            text-align: center;
        }
    }

    .font-size--button {
        select {
            display: block;
            width: 100%;
            height: 32px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
}
