.editor--toolbar {
    background-color: #edf0f3;
    position: relative;
    padding: 35px 17px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .section {
        display: flex;
        flex-direction: row;

        &.left { justify-content: flex-start; }
        &.center { justify-content: center; }
        &.right { justify-content: flex-end; }
    }

    .toolbar--group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 5px;
        }
    }
}
