.modal--backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    display: none;

    &.modal--backdrop-show {
        display: block;
    }

    .modal-dialog {
        border: 1px solid #d9dfe5;
        border-radius: 3px;
        background-color: #edf0f3;
        color: #2f3b4c;
        margin: 30px auto;
        width: 65vw;
        min-height: 1px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        position: relative;
        outline: 0;
    }

    .modal-dialog > .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 20px;

        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            opacity: .2;
            background-color: transparent;
            padding: 0;
            border: none;
            cursor: pointer;
            outline: 0;
        }
    }

    .modal-dialog > .modal-body {
        background-color: #fff;
        position: relative;
        padding: 15px;
    }
}
