.error-awsnap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: error-blink 3s linear infinite;

    > .img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        background-image: url(https://www.txiada.org/content_images/awsnap.png);
        min-height: 300px;
        min-width: 300px;
    }

    > .desc {
        text-align: center;
        font-style: italic;
    }

    @keyframes error-blink {
        0% { opacity: 0.1; }
        50% { opacity: 0.5; }
        100% { opacity: 0.1; }
    }
}
