.modules--presentation {
    .presentation--backgroundImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .presentation--container {
        position: relative;

        .video__controls {
            opacity: 1;
            z-index: 2;
        }

        .video-overlay {
            opacity: 0;
        }
    }
}

.time-line--component {
    padding: 5px 30px 25px 5px;
    max-height: 300px;
    position: relative;
    overflow: overlay;

    .tracker {
        display: flex;
        flex-direction: row;

        &.selected {
            .InputRange-labelContainer {
                font-weight: bold;
            }

            > .info > .select {
                background-color: #3f51b5
            }
        }

        .info {
            flex: 0 10%;
            align-items: flex-end;
            display: flex;

            > .select {
                border: 2px solid #dae0e6;
                border-radius: 100%;
                height: 15px;
                width: 15px;
                margin-right: 5px;
                flex: 0 0 15px;
            }

            > .alias {
                display: inline;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .content {
            flex: 0 90%;
            position: relative;
            margin-top: 25px;

            .walker {
                position: absolute;
                width: 1px;
                height: 200%;
                transition: 0.3s ease-out;

                &.video-progress {
                    border: 1px solid rgba(63, 81, 181, 1);
                    background-color: rgb(63, 81, 181);
                }

                &.trim {
                    border: 1px solid rgba(255, 0, 0, 1);
                    background-color: rgba(255, 0, 0, 1);
                }
            }

        }
    }
}
