.button {
    padding: 6px 9pt;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    border: 1px solid transparent;
    height: 32px;

    &.btn-default {
        border-color: #d9dfe5;
        background-color: #fff;

        &.active, &:active, &:hover {
            border-color: #d9dfe5;
            background-color: #d9dfe5;
            box-shadow: none;
        }
    }

    &.btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    &.btn-transparent {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;

        &.active, &:active, &:hover {
            border-color: #d9dfe5;
        }
    }
}

.button.button--file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}
