

.button--color--container {
    position: relative;
    color: #000;

    .button--color {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: text-bottom;
    }

    .sketch--picker {
        position: absolute;
        z-index: 5;
    }
}
