.palyer--component {
    position: relative;
    display: inline-block;
    color: #fff;
    height: 100%;
    width: 100%;
    min-height: 325px;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    audio,
    video {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    video {
        background-color: #000;
    }

    .video__controls {
        opacity: 1;
        z-index: 2;

        height: 34px;
        background-color: rgba(0,0,0,.8);
        display: flex;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity 0.2s ease-in;
    }

    .video--focused,
    &:hover {
        .root__info,
        .video__controls {
            opacity: 1 !important;
        }
    }

    .root__info {
        position: absolute;
        top: 5px;
        left: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity 0.2s ease-in;

        * > {
            font-size: 20px;
        }
    }

    .video-overlay__loader,
    .video-overlay__play {
        position: absolute;
        color: #4f9dce;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .video-overlay__loader .video-spinner,
    .video-overlay__play .video-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 70px;
        width: 80px;
        margin-left: -40px;
        margin-top: -35px;
        font-size: 30px;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        background-color: rgba(0,0,0,0.7);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .video-overlay__play {
        cursor: pointer;
    }

    .video-overlay__error {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0 40px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center;
        color: #fff;
        font-size: 13px;
    }

    .video-overlay__error-text {
        display: inline;
        padding: 10px 20px;
        background-color: rgba(0,0,0,0.7);
    }

    .video-time {
        font-size: 11px;
        line-height: 16px;
    }

    .video-time__current {
        margin-right: 5px;
    }

    .video-time__duration {
        margin-left: 5px;
        color: #919191;
    }

    .video-seek {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        height: 100%;
        position: relative;
        padding: 0 10px;
    }

    .video-seek__container {
        position: relative;
        top: 50%;
        background: #3e3e3e;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        cursor: pointer;
    }

    .video-seek__buffer-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #5a5a5a;
    }

    .video-play {
        cursor: pointer;
        padding: 1px 10px 0px 10px !important;
    }

    .video-play:hover{
        background-color: #1a1a1a;
    }

    .video-progress-bar {
        position: relative;
    }

    .video-progress-bar--vertical {
        height: 100%;
        width: 4px;
    }

    .video-progress-bar--horizontal {
        width: 100%;
        height: 4px;
    }

    .video-progress-bar__fill {
        background-color: #4f9dce;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .video-progress-bar--horizontal .video-progress-bar__fill {
        height: 100%;
    }

    .video-progress-bar--vertical .video-progress-bar__fill {
        width: 100%;
    }

    .video-progress-bar__input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        cursor: pointer;
        outline: none;
        opacity: 0;
    }

    .video-progress-bar--vertical .video-progress-bar__input {
        -webkit-appearance: slider-vertical;
    }

    .video-fullscreen {
        cursor: pointer;
    }

    .video-fullscreen:hover {
        background-color: #1a1a1a;
    }

    .video-mute {
        cursor: pointer;
        padding: 0;
    }

    .video-mute:hover {
        background-color: #1a1a1a;
    }

    .video-mute__inner {
        padding: 0px 5px 0px 5px;
    }

    .video-mute__volume {
        position: absolute;
        left: 50%;
        margin-left: -12px;
        bottom: 100%;
        width: 24px;
        height: 80px;
        padding-top: 8px;
        background-color: #1a1a1a;
        display: none;
    }

    .video-mute--focused .video-mute__volume,
    .video-mute:hover .video-mute__volume {
        display: block;
    }

    .video-mute__track {
        position: relative;
        width: 4px;
        height: 100%;
        margin-left: 10px;
        background-color: #3e3e3e;
    }

    .video-controls {
        height: 34px;
        background-color: rgba(0,0,0,0.8);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .video-controls button {
        background: none;
        border: none;
        margin: 0;
        color: #fff;
    }

    .video__control {
        position: relative;
        padding: 8px;
        height: 100%;
        font-size: 14px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .video-spinner {
        margin: 100px auto;
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;
    }

    .video-spinner > div {
        background-color: #4f9dce;
        height: 100%;
        width: 4px;
        display: inline-block;
        margin-right: 3px;

        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .video-spinner .video-spinner__rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .video-spinner .video-spinner__rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .video-spinner .video-spinner__rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .video-spinner .video-spinner__rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

    @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
        0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }  20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }

    .video-icon {

        &.play {

        }
    }

}
