.editor--grid {
    position: absolute;

    *, *:before, *:after{
        box-sizing: border-box
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    tr, td {
        padding: 0;
        border: thin dashed #9b9c9e;
    }
}
