.only-fullscreen {
    display: none;

    .close.only-fullscreen {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 50px;
        border: 2px solid #fff;
        height: 50px;
        font-size: 45px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

$zIndexFS: 2147483647;

:-webkit-full-screen .only-fullscreen{
    display: block;
    z-index: $zIndexFS;
}

:-moz-full-screen .only-fullscreen{
    display: block;
    z-index: $zIndexFS;
}

:full-screen .only-fullscreen{
    display: block;
    z-index: $zIndexFS;
}
