.btn-icon {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-image: url('../public/icons/toolbar-sprite.svg') !important;
  background-repeat: no-repeat;
  background-position: 50% 40px;
  background-size: 24px;

  *, *:before, *:after {
    box-sizing: border-box
  }

  &.input        { background-position: 50%    7px; }
  &.sharedText   { background-position: 50%  -26px; }
  &.arrow        { background-position: 50%  -60px; }
  &.rect         { background-position: 50%  -93px; }
  &.ellipse      { background-position: 50% -126px; }
  &.triangle     { background-position: 50% -159px; }
  &.image        { background-position: 50% -1017px;}
  &.removeImage  { background-position: 50% -983px; }
  &.plus.light   { background-position: 50% -226px; }
  &.undo         { background-position: 50% -259px; }
  &.redo         { background-position: 50% -292px; }
  &.history      { background-position: 50% -324px; }
  &.floppy       { background-position: 50% -356px; }
  &.cursorShare  { background-position: 50% -390px; }
  &.avRecord     { background-position: 50% -423px; }
  &.avRecord.light { background-position: 50% -1327px; }
  &.exit         { background-position: 50% -456px; }
  &.pencil       { background-position: 50% -490px; }
  &.speaker      { background-position: 50% -522px; }
  &.camera       { background-position: 50% -557px; }
  &.pause        { background-position: 50% -588px; }
  &.stop         { background-position: 50% -621px; }
  &.play         { background-position: 50% -655px; }
  &.delete       { background-position: 50% -689px; }
  &.delete.light { background-position: 50% -723px; }
  &.download     { background-position: 50% -759px; }
  &.user         { background-position: 50% -796px; }
  &.comment      { background-position: 50% -831px; }
  &.gear         { background-position: 50% -864px; }
  &.back         { background-position: 50% -898px; }
  &.plus         { background-position: 50% -929px; }
  &.record       { background-position: 50% -957px; }
  &.reflection   { background-position: 50% -1046px;}
  &.creation     { background-position: 50% -1072px;}
  &.line         { background-position: 50% -1130px;}
  &.link         { background-position: 50% -1101px;}
  &.template     { background-position: 50% -1195px;}
  &.media        { background-position: 50% -1163px;}
  &.votings      { background-position: 50% -1221px;}
  &.fullscreen   { background-position: 50% -1251px;}

  &.iForm        { background-position: 50% -1380px;}
  &.grid         { background-position: 50% -1478px;}
  &.opacity      { background-position: 50% -1427px;}


  &.profile.up   { background-position: 50% -1520px;}
  &.profile.down { background-position: 50% -1569px;}
}

.btn-icon-arrow {
    background: url('../public/icons/sprite_slide_arrows.svg') no-repeat 50% 0/40px;
    width: 27px;
    height: 28px;
    border: none;
    padding: 0;

    &, &:hover, &:active {
        box-shadow: none;
    }

    &.next {
        background-position: 100% 108%;

        &:hover, &:active {
            background-position: 100% -9%;
        }
    }

    &.prev {
        background-position: -20% 68%;

        &.prev:hover, &.prev:active {
            background-position: -20% 28%;
        }
    }
}
